<script type="text/javascript">
    var chartData = @Html.Raw(Model);

    var viewModelObject = {
        chartOptions: {
            dataSource: chartData,
            commonSeriesSettings: {
                argumentField: 'PlatformName',
                type: 'bar'
            },
            series: [
                { valueField: 'Count' }
            ]
        }
    }
    $(function() {
        ko.applyBindings(viewModelObject);
    });
</script>

<div id="chartContainer" style="height: 500px; width: 500px" data-bind="dxChart: chartOptions">
</div>