<script type="text/javascript">
    $(function () {
        $.ajax({
            url: '@Url.Action("GetScriptDataObject")'
        }).done(function (data) {
            InitializeChart(data);
        });
    });

    function InitializeChart(chartData) {
        $("#chartContainer").dxChart({
            dataSource: chartData,
            commonSeriesSettings: {
                argumentField: 'PlatformName',
                type: 'bar'
            },
            series: [
                { valueField: 'Count' }
            ]
        });
    }
</script>

<div id="chartContainer" style="height: 500px; width: 500px">
</div>